.footer {

    &_info {
        @include flex(space-between, center);
    }

    &_text {
    }

    &__inner {
        margin-top: 37px;
        margin-bottom: 37px;
    }

    &__socials {
        display: inline-block;
    }

    &__address {
    }

    &__contacts {
        @include flex(center, center);
        margin-left: -155px;
    }

    &__bottom {
        background-color: $gray;
    }
    &__logo {
        &_1{
            width: 22px;
            height: 15px;
        }
        &_2{
            width: 28px;
            height: 15px;
        }
        &_3{
            width: 20px;
            height: 20px;
        }
        &_4{
            width: 22px;
            height: 22px;
        }
    }

    &__rights {
        @include flex(space-between, center);
        padding: 25px 0; 
    }
    &__text {
        font-weight: 400;
        font-size: 12px;
        line-height: 14px;
        color: $gray;
    }
}

.icons {
    background-color: $white;
    text-align: center;
    // border-radius: 50%;
    // border: 2px solid $green;
}
.icons + .icons {
    margin-left: 20px;
}